# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
ts_errors.txt
ts_errors_utf8.txt
tsc_output.txt

# Personal files
Demilade_CV.docx

.vercel
